<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>UsuarioABMServlet</servlet-name>
        <servlet-class>py.una.pol.par.controladores.UsuarioABMServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CategoriaABMServlet</servlet-name>
        <servlet-class>py.una.pol.par.controladores.CategoriaABMServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TransaccionServlet</servlet-name>
        <servlet-class>py.una.pol.par.controladores.TransaccionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>py.una.pol.par.controladores.LoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UsuarioABMServlet</servlet-name>
        <url-pattern>/UsuarioABMServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CategoriaABMServlet</servlet-name>
        <url-pattern>/CategoriaABMServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TransaccionServlet</servlet-name>
        <url-pattern>/TransaccionServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            60
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
    <resource-ref>
        <description>postgreSQL_Datasource</description>
        <res-ref-name>jdbc/postgres</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
    </resource-ref>
</web-app>
